//styels for the portfolio pageYOffset

// 1. Portfolio Fonts : Lato fonts [google fonts]
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Dancing+Script&family=Fira+Code:wght@300&family=Forum&family=Stardos+Stencil:wght@400;700&display=swap");

// monstreat fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

$arimo-font-family: "Arimo", sans-serif; //paragraphs
$fira-font-family: "Fira Code", monospace; // links
$montserrat-font-family: "Montserrat", sans-serif; // h1, h2 text

$fs-nav: 15px;

// paragraphs are allowed the default browser weights from

// 2. Portfolio Palettes : One dark theme and one light theme [color hunt help]

$color-text: black;

$color-primary: #2a0944;
$color-secondary: #3b185f;
$color-accent: #fec260;
$color-extra: #a12568;

$color-text-primary: #222222;
$color-text-secondary: #0d0d0d;
$color-text-white: #fbfbfb;

$background-light: #e2e2e245;
$background-green: #e8f6ef;
$background-primary: #fff;

$banner-problem-background: #ff7ba9;
$banner-mentorhip-background: #9fb4ff;
$banner-tools-background: #B4CFB0;

//base code

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;

  scrollbar-width: 0px;
}

html,
body {
  background-color: $background-primary;
  font-family: $arimo-font-family;
  color: $color-text-primary;
}

section {
  min-height: 70vh;
  width: 100vw;
  overflow: hidden;
  padding: 6rem 0rem 6rem 0rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bucket {
  width: 80%;
  margin: 0 auto;
  padding: 2rem auto;
}

h2,
h3,
h4,
h5,
.text-tag {
  font-family: $montserrat-font-family;
  font-weight: 600;
}

.section-label {
  color: $color-extra;
  font-family: $montserrat-font-family;
  font-weight: 800;
  width: 100%;
}

a,
button {
  font-family: $fira-font-family;
  cursor: pointer;
}
.flex-row-to-column-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.flex-row-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.flex-row-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button_accent {
  border: none;
  border-radius: 0.3rem;
  background: $color-accent;
  padding: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 5px 3px 5px;

  a {
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: $color-text-primary;
    font-family: $fira-font-family;
  }
}

.button_primary {
  border: none;
  border-radius: 0.3rem;
  background: $color-primary;
  padding: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;

  a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: $color-text-white;
    font-family: $fira-font-family;
  }
}

.button_primary:hover {
  background-color: $color-secondary;
  color: $color-text-white;
}

.button_secondary {
  border: none;
  border-radius: 0.3rem;
  background: $color-extra;
  padding: 10px 10px 10px 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: $color-text-white;
    font-family: $fira-font-family;
  }
}
.button_secondary:hover {
  opacity: 0.8;
}

.my-bg-primary {
  background-color: $color-primary;
}

.space-bar {
  //this element create needed space between the navigation bar and the first section. I just hade adding padding  ;lol
  min-height: 90px;
}

//Navigation : header styling

header {
  background: $color-accent;
  font-family: $fira-font-family;
  color: $color-text-primary;
  background-color: $color-primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: start;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  z-index: 26;
  padding: 3rem 0rem 3rem 0rem;
  min-height: 100px;

  .header-data-basket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  // item styles
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .dropdown-menu {
      z-index: 30;
    }
  }
  .navbar-nav {
    letter-spacing: 0.1rem;
    transition: 0.7s ease-in-out;
  }

  .nav-link {
    color: $color-text-white !important;
    position: relative;
  }
  .active-item {
    color: $color-accent !important;
  }

  .nav-link:hover {
    color: $color-accent !important;

    &::before {
      position: absolute;
      content: "";
      bottom: -3px;
      right: 0px;
      left: 10px;
      height: 5px;
      background-color: $color-accent;
    }
    transition: 0.7s ease-in-out;
  }

  //manage the hamburger
  .navbar-toggler {
    width: 60px;
    height: 30px;
    position: relative;
    transition: 0.5s ease-in-out;
    overflow: hidden;

    span {
      margin: 0;
      padding: 0;
    }

    .toggler-icon {
      display: block;
      position: absolute;
      height: 20px;
      width: 3px;
      background: $color-accent;
      border-radius: 1px;
      opacity: 1;
      left: 10px;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      border-radius: 1px;
    }
  }

  //clear out all default decorative button styles
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
  }

  /* Color of 3 lines */

  .navbar-toggler.collapsed .toggler-icon {
    background-color: $color-accent;
  }

  /* when navigation is clicked */

  .navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
  }

  .navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
  }

  .navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
  }

  /* State when the navbar is collapsed */

  .navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
  }

  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    left: 10px;
    margin-left: 10px;
    margin-top: 0px;
    filter: alpha(opacity=0);
  }

  .navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    left: 0px;
    margin-left: 0px;
    transform: rotate(0deg);
    margin-top: 0px;
  }
}

// Home section styling
.home {
  .home-data-basket {
    padding-top: 50px;
    display: flex;
    flex-direction: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .text-tag-hello {
      color: $color-primary;
    }

    .hdb-right-img {
      width: 100%;
    }

    .text-tag-name {
      color: $color-text-primary;
      font-family: $montserrat-font-family;
      font-weight: 900;
      overflow: hidden;
    }

    .text-tag-problem {
      color: $color-text-secondary;
      font-family: $montserrat-font-family;
      font-weight: 700;
    }

    .text-tag-pitch {
      color: $color-text-primary;
      font-family: $montserrat-font-family;
      font-weight: 400;
    }

    .home_buttons {
      display: flex;
      gap: 20px;
      margin-top: 30px;
    }
  }
}

// Services section styling
.services {
  .service-data-basket {
    .section-appeal {
      text-align: center;
      .section-tag {
        font-family: $montserrat-font-family;
        font-weight: 700;
        color: $color-text-secondary;
      }
      .section_pitch {
        padding-left: 10rem;
        padding-right: 10rem;
      }
    }
    .service-items {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      overflow: hidden;

      .service-item {
        text-decoration: none;

        &:hover {
          transition: all 0.5s ease-in-out;
          background-color: $color-accent;
          color: $color-text-secondary;
          margin: 2px 2px 2px 2px;
          z-index: 20;
        }
      }
      .service-item-contents {
        width: 320px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $background-light;
        align-items: center;
        .service-item-img {
          width: 60px;
        }
        .service-item-content {
          padding: 10px 5px 10px 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: hidden;
          text-align: center;

          .skill {
            font-size: 1.2em;
            color: $color-primary;
            font-family: $montserrat-font-family;
            font-weight: 500;
          }

          p {
            color: $color-text-primary;
            font-family: $arimo-font-family;
          }
        }
      }
    }
  }
}

// About section styling
.about { 
  .about-data-basket {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .about-feature-icon {
      width: 80px;
      height: 80px;
      border-radius: 1rem;
      margin-bottom: 20px;
    }

    .feature h2 {
      font-family: $montserrat-font-family;
    }
  }
}

// Background section styling

.background { 
  padding-top: 0px !important;
  margin-bottom: 20px; 
  .background-data-basket {
    //naming here is different html code forged from TryDo and styled to fit our purpose
    .react-tabs {
      padding-left: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .tab-style {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: 0px;
        transition: 0.7 ease-in-out;

        li {
          display: inline;
          cursor: pointer;
          text-align: start;
          padding: 12px 22px 2px 2px;
          border-bottom: 1px solid grey;
          margin-right: 20px;
          font-family: $montserrat-font-family;
          font-weight: 300;
        }

        .react-tab__tab--selected {
          color: $color-extra;
          border-bottom: 2px solid $color-extra;
          text-align: start;
          font-weight: 600;
        }
      }

      .single-tab-content {
        ul {
          list-style-type: none;
          padding-left: 0;
          margin: 0;
        }
        .tag-1::before {
          content: ">> ";
          color: $color-primary;
        }

        .tag-1 {
          line-height: 1rem;
          color: $color-primary;
          padding: 0px;
          margin-bottom: 5px;
          margin-top: 2rem;
          font-family: $montserrat-font-family;
          font-weight: 700;
        }
        .tag-2 {
          color: $color-extra;
          line-height: 3px;
          padding: 0px;
          margin-bottom: 5px;
          font-family: $fira-font-family;
        }
        .tag-3 {
          padding: 0px;
          margin-bottom: 5px;
          max-width: 100%;
          visibility: hidden;
          display:none; 
        }
      }
    }
  }
}

// Project Styling
.projects {
  margin-top: 0px;
  .pdb-left {
    width: 100%;
    text-align: center;
    

    #project-line {
      font-family: $montserrat-font-family;
      font-weight: 700;
    }
    #project-para {
      width: 80%;
    }
  }

  .project-data-basket {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .project-tabbed {
    .project-tabs {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .project-tab-style {
        list-style-type: none;
        margin: 10px 10px 10px 0px;
        display: flex;
        flex-direction: row;
        overflow-x: scroll !important;
        scroll-behavior: smooth;
        scrollbar-width: 0px;
        transition: 0.7 ease-in-out;
        width: fit-content;
        align-self: center;
        background-color: $color-primary;
        border-radius: 10px;
        padding: 2px 2px 2px 2px;

        li {
          display: inline;
          cursor: pointer;
          text-align: start;
          width: 150px;
          margin: 3px 3px 3px 3px;
          padding: 3px 10px 3px 10px;
          color: $color-text-white;
        }

        .project-tab__tab--selected {
          transition: all 0.5s ease-in-out;
          background: $color-accent;
          border-radius: 0.4rem;
          text-align: center;
          color: $color-text-secondary;
        }
      }

      .single-project-content {
        .port-card {
          background: $color-primary;
          border-radius: 10px;
          padding: 1rem;
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 5px;
          color: $color-text-white;

          .button_project {
            border: 1px solid $color-accent;
            border-radius: 3px;
            width: fit-content;
            display: none;
            padding: 5px 10px 5px 10px;
          }
          h5 {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
        .port-card:hover {
          //background-image: linear-gradient(to right top, #ff4c24, #ff4b23, #ff4a23, #ff4822, #ff4722, #ff4924, #ff4a27, #ff4c29, #ff512f, #ff5635, #fe5a3b, #fe5f40);
          //transform: scale(1.05);
          background-color: $color-accent;
          transform: translateY(-10px);
          transition: 0.4s ease-in-out;
          border-radius: 0px;
          color: $color-text-secondary;
          .button_project {
            border: 1px solid $color-text-secondary;
            border-radius: 5px;
            display: flex;
            cursor: pointer;
            a {
              text-decoration: none;
              color: $color-text-secondary;
              font-size: 14px;
            }
          }
          .project-img {
            content: url("../resources/icons/open_project.svg");
          }
        }
      }
    }
  }
}

//Testimonials section
.Testimonials {
  .testim-data-basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .testim-call-to-view {
      width: fit-content;
      border-bottom: 1px solid grey;
      padding-bottom: 10px;
      text-align: center;
    }
    .section-tag {
      font-size: 3rem;
      color: $color-primary;
      text-align: center;
    }

    .testim-tabs {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      .testim-tab-list {
        list-style-type: none;
        margin: 10px 10px 10px 0px;
        display: flex;
        flex-direction: row;
        transition: 0.7 ease-in-out;
        width: fit-content;
        align-self: center;
        border-radius: 1rem;
        padding: 2px 10px 2px 10px;
        background-color: $color-primary;
        margin-bottom: 20px;

        li {
          display: inline;
          cursor: pointer;
          text-align: start;
          width: 25px;
          height: 25px;
          margin: 3px 5px 3px 5px;
          color: $color-text-white;
        }

        .testim-tab__tab--selected {
          border: 1px solid $color-accent;
          border-radius: 50%;
          text-align: center;
          padding-bottom: 5px;
          color: $color-accent;
        }
      }
      .testim-tab-row-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 30px;

        .testim-testim {
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: $color-accent;
          .tt-header {
            .tt-header-details-name,
            tt-header-details-affiliate {
              margin: 0;
              padding: 0;
            }
            .tt-header-details-name {
              font-weight: 400;
              color: $color-secondary;
              font-size: 1.5rem;
            }
          }

          .tt-body {
            margin-top: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }
      }
    }
  }
}

// Contact styling
.contact {
  .contact-data-basket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: rows;
  }

  .cdb-right {
    width: 70%;
  }
  .cdb-left {
    p {
      width: 70%;
    }
    .cdb-left-rule {
      width: 40%;
    }
    h5 {
      font-family: $montserrat-font-family;
      font-weight: 700;
      color: $color-text-secondary;
    }
  }
  .contact-form {
    background-color: $color-primary;
    border-radius: 10px;
    label {
      text-align: start;
      padding: 12px 12px 2px 0;
      display: inline-block;
      color: $color-text-white;
    }
    input[type="text"],
    select,
    textarea {
      width: 100%;
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 0;
      border-top-left-radius: 0;
      resize: vertical;
      background: none;
      margin-bottom: 1rem;
      height: 40px;
      color: white;
    }

    .btn-send {
      color: $color-text-primary;
      width: 150px !important;
    }

    .email-text a {
      color: $color-accent;
      font-family: $arimo-font-family;
    }

    .white-text {
      color: $color-text-white;
    }
  }
}

footer {
  background-color: $color-accent;
  padding-bottom: 3rem;
  padding-top: 2rem;
  .foot_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    a {
      text-decoration: none;
      color: $color-primary;
      font-size: 16px;
      line-height: 2px;
      cursor: pointer;

      &:hover {
        color: $color-extra;
      }
    }
  }

  .social-media {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

// banners section

.banner-section {
  min-height: 400px;
  padding: 2rem 4rem 2rem 4rem;
}

.banner-problem {
  background-color: $banner-problem-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .banner-problem-basket {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
}

.banner-mentorship {
  background-color: $banner-mentorhip-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;

  .banner-mentorship-basket {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
}

.banner-tools {
  background-color: $banner-tools-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .banner-tools-basket {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    #tools-para{
      width:65%;
    }

    .tool-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      align-items: center;
      justify-content: center;

      .tg-group {
        padding: 10px;
      }

      .tg-item {
        border: 1px solid $color-accent;
        border-radius: 0.3rem;
        padding: 2px 2px 2px 2px;
        margin: 4rem 1rem 4rem 1rem;
        background-color:$color-accent; 
      }

      .tg-analytics {
        border-left: 1px solid $color-primary;
        border-right: 1px solid $color-primary;
      }
    }
  }
}

// 404 Pages

.cover {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;

  h1 {
    font-size: 6rem;
    color: $color-accent;
    font-family: $montserrat-font-family;
    font-weight: 900;
  }
  .pnf {
    font-size: 3rem;
    font-family: $montserrat-font-family;
    font-weight: 500;
  }

  .pnf {
    font-size: 3rem;
  }
}

//Media QUERIES

@import "../Responsives/xsmall.scss";

@import "../Responsives/small.scss";

@import "../Responsives/large.scss";
