@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Dancing+Script&family=Fira+Code:wght@300&family=Forum&family=Stardos+Stencil:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
  scrollbar-width: 0px;
}

html,
body {
  background-color: #fff;
  font-family: "Arimo", sans-serif;
  color: #222222;
}

section {
  min-height: 70vh;
  width: 100vw;
  overflow: hidden;
  padding: 6rem 0rem 6rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bucket {
  width: 80%;
  margin: 0 auto;
  padding: 2rem auto;
}

h2,
h3,
h4,
h5,
.text-tag {
  font-family: "Forum", cursive;
}

.section-label {
  color: #a12568;
  font-family: "Stardos Stencil", cursive;
  width: 100%;
}

a,
button {
  font-family: "Fira Code", monospace;
  cursor: pointer;
}

.flex-row-to-column-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.flex-column-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.flex-row-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}

.flex-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.flex-row-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_accent {
  border: none;
  border-radius: 0.3rem;
  background: #fec260;
  padding: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 5px 3px 5px;
}

.button_accent a {
  text-decoration: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #222222;
  font-family: "Fira Code", monospace;
}

.button_primary {
  border: none;
  border-radius: 0.3rem;
  background: #2a0944;
  padding: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 10px;
}

.button_primary a {
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: #fbfbfb;
  font-family: "Fira Code", monospace;
}

.button_primary:hover {
  background-color: #3b185f;
  color: #fbfbfb;
}

.button_secondary {
  border: none;
  border-radius: 0.3rem;
  background: #a12568;
  padding: 10px 10px 10px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_secondary a {
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: #fbfbfb;
  font-family: "Fira Code", monospace;
}

.button_secondary:hover {
  opacity: 0.8;
}

.my-bg-primary {
  background-color: #2a0944;
}

.space-bar {
  min-height: 70px;
}

header {
  background: #fec260;
  font-family: "Fira Code", monospace;
  color: #222222;
  background-color: #2a0944;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: start;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  z-index: 26;
  padding: 3rem 0rem 3rem 0rem;
  min-height: 100px;
  /* Color of 3 lines */
  /* when navigation is clicked */
  /* State when the navbar is collapsed */
}

header .header-data-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .navbar .dropdown-menu {
  z-index: 30;
}

header .navbar-nav {
  letter-spacing: 0.1rem;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

header .nav-link {
  color: #fbfbfb !important;
  position: relative;
}

header .active-item {
  color: #fec260 !important;
}

header .nav-link:hover {
  color: #fec260 !important;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

header .nav-link:hover::before {
  position: absolute;
  content: "";
  bottom: -3px;
  right: 0px;
  left: 10px;
  height: 5px;
  background-color: #fec260;
}

header .navbar-toggler {
  width: 60px;
  height: 30px;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

header .navbar-toggler span {
  margin: 0;
  padding: 0;
}

header .navbar-toggler .toggler-icon {
  display: block;
  position: absolute;
  height: 20px;
  width: 3px;
  background: #fec260;
  border-radius: 1px;
  opacity: 1;
  left: 10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-radius: 1px;
}

header .navbar-toggler,
header .navbar-toggler:focus,
header .navbar-toggler:active,
header .navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  position: relative;
}

header .navbar-toggler.collapsed .toggler-icon {
  background-color: #fec260;
}

header .navbar-toggler .top-bar {
  top: inherit;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

header .navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

header .navbar-toggler .bottom-bar {
  top: inherit;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

header .navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  left: 10px;
  margin-left: 10px;
  margin-top: 0px;
  filter: alpha(opacity=0);
}

header .navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  left: 0px;
  margin-left: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  margin-top: 0px;
}

.home .home-data-basket {
  padding-top: 50px;
}

.home .home-data-basket .text-tag-hello {
  color: #2a0944;
}

.home .home-data-basket .text-tag-name {
  color: #222222;
  font-family: "Stardos Stencil", cursive;
  overflow: hidden;
}

.home .home-data-basket .text-tag-problem {
  color: #0d0d0d;
  font-family: "Forum", cursive;
}

.home .home-data-basket .text-tag-pitch {
  color: #222222;
  width: 80%;
}

.home .home-data-basket .home_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.services .service-data-basket .section_pitch {
  max-width: 60%;
}

.services .service-data-basket .service-items {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
}

.services .service-data-basket .service-items .service-item {
  width: 320px;
  height: 350px;
  background: #2a0944;
  border-radius: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 8px;
}

.services .service-data-basket .service-items .service-item .service-item-content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  overflow: hidden;
}

.services .service-data-basket .service-items .service-item .service-item-content h3 {
  font-size: 1.8em;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 20px;
  color: #fec260;
}

.services .service-data-basket .service-items .service-item .service-item-content p {
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fbfbfb;
}

.services .service-data-basket .service-items .service-item .service-item-content:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #3b185f;
  margin: 2px 2px 2px 2px;
  z-index: 20;
}

.about .about-data-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-data-basket .about-feature-icon {
  width: 80px;
  height: 80px;
  border-radius: 1rem;
  margin-bottom: 20px;
}

.about .about-data-basket .feature h2 {
  font-family: "Stardos Stencil", cursive;
}

.background .background-data-basket .react-tabs {
  padding-left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.background .background-data-basket .react-tabs .tab-style {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  -webkit-transition: 0.7 ease-in-out;
  transition: 0.7 ease-in-out;
}

.background .background-data-basket .react-tabs .tab-style li {
  display: inline;
  cursor: pointer;
  text-align: start;
  padding: 12px 22px 2px 2px;
  border-bottom: 1px solid grey;
  margin-right: 20px;
  font-family: "Stardos Stencil", cursive;
}

.background .background-data-basket .react-tabs .tab-style .react-tab__tab--selected {
  color: #a12568;
  border-bottom: 2px solid #a12568;
  text-align: start;
}

.background .background-data-basket .react-tabs .single-tab-content ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.background .background-data-basket .react-tabs .single-tab-content .tag-1::before {
  content: ">> ";
  color: #2a0944;
}

.background .background-data-basket .react-tabs .single-tab-content .tag-1 {
  line-height: 1rem;
  color: #2a0944;
  padding: 0px;
  margin-bottom: 5px;
  margin-top: 2rem;
  font-family: "Stardos Stencil", cursive;
}

.background .background-data-basket .react-tabs .single-tab-content .tag-2 {
  color: #a12568;
  line-height: 3px;
  padding: 0px;
  margin-bottom: 5px;
  font-family: "Fira Code", monospace;
}

.background .background-data-basket .react-tabs .single-tab-content .tag-3 {
  padding: 0px;
  margin-bottom: 5px;
  max-width: 100%;
}

.projects {
  margin-top: 0px;
}

.projects .pdb-left {
  width: 50%;
}

.projects .project-tabbed .project-tabs .project-tab-style {
  list-style-type: none;
  margin: 10px 10px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll !important;
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  -webkit-transition: 0.7 ease-in-out;
  transition: 0.7 ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: start;
      align-self: start;
  background-color: #2a0944;
  border-radius: 10px;
  padding: 2px 2px 2px 2px;
}

.projects .project-tabbed .project-tabs .project-tab-style li {
  display: inline;
  cursor: pointer;
  text-align: start;
  width: 150px;
  margin: 3px 3px 3px 3px;
  padding: 3px 10px 3px 10px;
  color: #fbfbfb;
}

.projects .project-tabbed .project-tabs .project-tab-style .project-tab__tab--selected {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #fec260;
  border-radius: 0.4rem;
  text-align: center;
  color: #0d0d0d;
}

.projects .project-tabbed .project-tabs .single-project-content .port-card {
  background: #2a0944;
  border-radius: 10px;
  padding: 1rem;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  color: #fbfbfb;
}

.projects .project-tabbed .project-tabs .single-project-content .port-card .button_project {
  border: 1px solid #fec260;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
  padding: 5px 10px 5px 10px;
}

.projects .project-tabbed .project-tabs .single-project-content .port-card h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.projects .project-tabbed .project-tabs .single-project-content .port-card:hover {
  background-color: #fec260;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-radius: 0px;
  color: #0d0d0d;
}

.projects .project-tabbed .project-tabs .single-project-content .port-card:hover .button_project {
  border: 1px solid #0d0d0d;
  border-radius: 5px;
  color: #0d0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.projects .project-tabbed .project-tabs .single-project-content .port-card:hover .project-img {
  content: url("../resources/icons/open_project.svg");
}

.Testimonials .testim-data-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Testimonials .testim-data-basket .testim-call-to-view {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  text-align: center;
}

.Testimonials .testim-data-basket .section-tag {
  font-size: 3rem;
  color: #2a0944;
  text-align: center;
}

.Testimonials .testim-data-basket .testim-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.Testimonials .testim-data-basket .testim-tabs .testim-tab-list {
  list-style-type: none;
  margin: 10px 10px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 0.7 ease-in-out;
  transition: 0.7 ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 1rem;
  padding: 2px 10px 2px 10px;
  background-color: #2a0944;
  margin-bottom: 20px;
}

.Testimonials .testim-data-basket .testim-tabs .testim-tab-list li {
  display: inline;
  cursor: pointer;
  text-align: start;
  width: 25px;
  height: 25px;
  margin: 3px 5px 3px 5px;
  color: #fbfbfb;
}

.Testimonials .testim-data-basket .testim-tabs .testim-tab-list .testim-tab__tab--selected {
  border: 1px solid #fec260;
  border-radius: 50%;
  text-align: center;
  padding-bottom: 5px;
  color: #fec260;
}

.Testimonials .testim-data-basket .testim-tabs .testim-tab-row-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.Testimonials .testim-data-basket .testim-tabs .testim-tab-row-content .testim-testim {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fec260;
}

.Testimonials .testim-data-basket .testim-tabs .testim-tab-row-content .testim-testim .tt-header .tt-header-details-name,
.Testimonials .testim-data-basket .testim-tabs .testim-tab-row-content .testim-testim .tt-header tt-header-details-affiliate {
  margin: 0;
  padding: 0;
}

.Testimonials .testim-data-basket .testim-tabs .testim-tab-row-content .testim-testim .tt-header .tt-header-details-name {
  font-family: "Forum", cursive;
  color: #3b185f;
  font-size: 1.5rem;
}

.Testimonials .testim-data-basket .testim-tabs .testim-tab-row-content .testim-testim .tt-body {
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contact .contact-data-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: rows;
      flex-wrap: rows;
}

.contact .cdb-right {
  width: 70%;
}

.contact .cdb-left p {
  width: 70%;
}

.contact .cdb-left .cdb-left-rule {
  width: 40%;
}

.contact .contact-form {
  background-color: #2a0944;
  border-radius: 10px;
}

.contact .contact-form label {
  text-align: start;
  padding: 12px 12px 2px 0;
  display: inline-block;
  color: #fbfbfb;
}

.contact .contact-form input[type="text"],
.contact .contact-form select,
.contact .contact-form textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 0;
  border-top-left-radius: 0;
  resize: vertical;
  background: none;
  margin-bottom: 1rem;
  height: 40px;
  color: white;
}

.contact .contact-form .btn-send {
  color: #222222;
  width: 150px !important;
}

.contact .contact-form .email-text a {
  color: #fec260;
  font-family: "Arimo", sans-serif;
}

.contact .contact-form .white-text {
  color: #fbfbfb;
}

footer {
  background-color: #fec260;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

footer .foot_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .foot_wrapper a {
  text-decoration: none;
  color: #2a0944;
  font-size: 16px;
  line-height: 2px;
  cursor: pointer;
}

footer .foot_wrapper a:hover {
  color: #a12568;
}

footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}

@media only screen and (max-width: 320px) {
  section {
    padding: 0;
  }
  .bucket {
    width: 90%;
    margin: 0 auto;
    padding: 2rem auto;
  }
  .button_accent a {
    font-size: 0.9rem;
  }
  header {
    padding: 0;
  }
  .home .home-data-basket {
    width: 100%;
  }
  .home .home-data-basket .text-tag-name {
    font-size: 2rem;
    overflow: hidden;
  }
  .home .home-data-basket .text-tag-problem {
    font-size: 1.5rem;
  }
  .home .home-data-basket .text-tag-pitch {
    font-size: 0.7rem;
  }
  .home .home-data-basket .home_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .service-data-basket .section_pitch {
    max-width: 100%;
    font-size: 15px;
  }
  .services .service-data-basket .service-items {
    width: 100%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .services .service-data-basket .service-items .service-item-card {
    width: 300px;
    height: 450px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 10px;
  }
  .services .service-data-basket .service-items .service-item-card .service-item-box {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 10px;
  }
  .services .service-data-basket .service-items .service-item-card .service-item-box .service-item-content {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
    overflow: hidden;
  }
  .services .service-data-basket .service-items .service-item-card .service-item-box .service-item-content .service-item-tools {
    font-size: 15px;
  }
  .services .service-data-basket .service-items .service-item-card .service-item-box .service-item-content h3 {
    font-size: 1.8rem;
    z-index: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 20px;
    color: #fec260;
  }
  .services .service-data-basket .service-items .service-item-card .service-item-box .service-item-content p {
    z-index: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 90%;
    font-size: 15px;
  }
  .services .service-data-basket .service-items .service-item .service-item-card:hover .service-item-box {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    transition: none;
    border-radius: 10px;
    z-index: 0;
  }
  .services .service-data-basket .service-items .service-item-card:hover {
    -webkit-transition: none;
    transition: none;
    border-radius: 10px;
  }
  .background .background-data-basket .react-tabs .tab-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .background .background-data-basket .react-tabs .tab-style li {
    padding: 12px 12px 2px 2px;
    margin-right: 10px;
    font-size: 14px;
  }
  .background .background-section-img {
    content: url("../resources/images/sharpMobile.png");
  }
  .projects {
    margin-top: 100px;
  }
  .projects .pdb-left {
    width: 100%;
    font-size: 15px;
  }
  .projects .project-tabbed .project-tabs .project-tab-style {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects .project-tabbed .project-tabs .project-tab-style li {
    display: inline;
    cursor: pointer;
    text-align: start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 13px;
    margin: 3px 5px 3px 3px;
    padding: 3px 10px 3px 10px;
  }
  .projects .project-tabbed .project-tabs .project-tab-style li #frontend_span {
    display: none;
  }
  .projects .project-tabbed .project-tabs .single-project-content .port-card {
    height: 300px;
  }
  .projects .project-tabbed .project-tabs .single-project-content .port-card .button_project {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .Blog {
    margin-top: 40px;
  }
  .Blog .blog-more {
    margin-top: 70px;
  }
  .Blog .bdb-post-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 35px;
    margin-bottom: 20px;
  }
  .Blog .bdb-post {
    height: 560px;
  }
  .Blog .bdb-post .bdb-post-image {
    border-radius: 10px;
    height: 250px;
    max-height: 250px;
    width: 96%;
    margin: 10px auto;
  }
  .Blog .bdb-post .bdb-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .Blog .bdb-tags .tag {
    font-size: px;
  }
  .Blog .bdb-tags .tag-line {
    font-size: 12px;
  }
  .Testimonials {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .Testimonials .testim-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #3b185f;
  }
  .Testimonials .testim-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fec260;
    background: none;
    margin-top: 50px;
  }
  .Testimonials .testim-indicators .active {
    background-color: #fec260;
  }
  .Testimonials .testim-items {
    width: 100%;
    padding: 30px 0px 40px 0px;
    text-align: center;
  }
  .Testimonials .testim-items p {
    font-size: 14px;
  }
  .Testimonials .testim-data {
    gap: 20px;
  }
  .contact .contact-data-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .contact .contact-data-basket .cdb-left {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contact-data-basket .cdb-left p {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  .contact .contact-data-basket .cdb-right {
    width: 100%;
  }
  .contact .contact-data-basket .cdb-right .email-text {
    font-size: 12px;
    text-align: center;
  }
  .foot-data-basket {
    padding-bottom: 50px;
    padding-top: 20px;
  }
  .foot-data-basket .foot_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot-data-basket .foot_wrapper .ft_left {
    display: none;
  }
  .foot-data-basket .foot_wrapper a {
    text-align: center;
  }
  .foot-data-basket .foot-signature .left_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .foot-data-basket .foot-signature .right_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}

/* Custom, iPhone Retina, Samsung phones except the foldables */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  section {
    padding: 6rem 0px 6rem 0px;
  }
  .bucket {
    width: 90%;
    margin: 0 auto;
    padding: 2rem auto;
  }
  .button_primary {
    padding: 10px 10px 10px 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .button_secondary {
    padding: 10px 10px 10px 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .button_accent {
    padding: 10px 10px 10px 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header {
    padding: 2rem 0rem 2rem 0rem;
  }
  header .header-data-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .home .home-data-basket {
    width: 100%;
  }
  .services .service-data-basket .service-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    overflow: hidden;
  }
  .services .service-data-basket .service-items .service-item-card {
    position: relative;
    width: 350px;
    height: 500px;
  }
  .services .service-data-basket .section_pitch,
  .services .service-data-basket .service-label {
    max-width: 100% !important;
    text-align: start;
  }
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .feature .bi {
    width: 40%;
    border-radius: 20px;
  }
  .background-section-img {
    content: url("../resources/images/sharpMobile.png");
  }
  .projects .pdb-left {
    width: 100%;
    font-size: 15px;
  }
  .projects .project-tabbed .project-tabs .project-tab-style {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects .project-tabbed .project-tabs .project-tab-style li {
    display: inline;
    cursor: pointer;
    text-align: start;
    width: 33%;
    margin: 3px 5px 3px 3px;
    padding: 3px 10px 3px 10px;
  }
  .projects .project-tabbed .project-tabs .project-tab-style li #frontend_span {
    display: none;
  }
  .projects .project-tabbed .project-tabs .single-project-content .port-card {
    height: 350px;
  }
  .projects .project-tabbed .project-tabs .single-project-content .port-card .button_project {
    border-radius: 1.5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 5px 5px 5px;
  }
  .Blog .bdb-post-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 35px;
    margin-bottom: 20px;
  }
  .contact .contact-data-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .contact .cdb-right {
    width: 100%;
  }
  .contact .cdb-left p {
    width: 100%;
  }
  .foot-data-basket {
    padding-bottom: 50px;
    padding-top: 20px;
  }
  .foot-data-basket .foot_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot-data-basket .foot_wrapper .ft_left {
    display: none;
  }
  .foot-data-basket .foot_wrapper a {
    text-align: center;
  }
  .foot-data-basket .foot_wrapper .ft-center {
    padding-left: 3rem;
    padding-right: 0px;
  }
  .foot-data-basket .foot-signature .left_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .foot-data-basket .foot-signature .right_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  section {
    padding: 6rem 0px 6rem 0px;
  }
  .bucket {
    width: 85%;
    margin: 0 auto;
    padding: 2rem auto;
  }
  header {
    padding: 4rem 0rem 4rem 0rem;
  }
  header .header-data-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .home .home-data-basket {
    width: 100%;
  }
  .home .home-data-basket .text-tag-name {
    font-size: 4rem;
    overflow: hidden;
  }
  .home .home-data-basket .text-tag-problem {
    font-size: 3rem;
  }
  .home .home-data-basket .text-tag-pitch {
    font-size: 1.3rem;
  }
  .home .home-data-basket .home_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .services .service-data-basket .service-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services .service-data-basket .service-items .service-item-card {
    position: relative;
    width: 350px;
    height: 500px;
  }
  .services .service-data-basket .section_pitch,
  .services .service-data-basket .service-label {
    max-width: 100% !important;
    text-align: start;
  }
  .about {
    font-size: 20px;
    text-align: center;
  }
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .feature p {
    padding-left: 10%;
    padding-right: 10%;
  }
  .background {
    font-size: 18px;
  }
  .background-section-img {
    content: url("../resources/images/sharpMobile.png");
  }
  .projects .pdb-left {
    width: 100%;
    font-size: 15px;
  }
  .projects .project-tabbed .project-tabs .project-tab-style {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects .project-tabbed .project-tabs .project-tab-style li {
    display: inline;
    cursor: pointer;
    text-align: start;
    width: 33%;
    margin: 3px 5px 3px 3px;
    padding: 3px 10px 3px 10px;
  }
  .projects .project-tabbed .project-tabs .project-tab-style li #frontend_span {
    display: none;
  }
  .projects .project-tabbed .project-tabs .single-project-content .port-card {
    height: 350px;
  }
  .projects .project-tabbed .project-tabs .single-project-content .port-card .button_project {
    border-radius: 1.5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 5px 5px 5px;
  }
  .Blog .bdb-post-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 35px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact .contact-data-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .contact .cdb-right {
    width: 100%;
  }
  .contact .cdb-left p {
    width: 100%;
  }
  .foot-data-basket {
    padding-bottom: 50px;
    padding-top: 20px;
  }
  .foot-data-basket .foot_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot-data-basket .foot_wrapper .ft_left {
    display: none;
  }
  .foot-data-basket .foot_wrapper a {
    text-align: center;
  }
  .foot-data-basket .foot_wrapper .ft-center {
    padding-left: 3rem;
    padding-right: 0px;
  }
  .foot-data-basket .foot-signature .left_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .foot-data-basket .foot-signature .right_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*# sourceMappingURL=base.css.map */