/* Custom, iPhone Retina, Samsung phones except the foldables */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  section {
    padding: 6rem 0px 6rem 0px;
  }
  .bucket {
    width: 90%;
    margin: 0 auto;
    padding: 2rem auto;
  }
  .button_primary {
    padding: 10px 10px 10px 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .button_secondary {
    padding: 10px 10px 10px 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .button_accent {
    padding: 10px 10px 10px 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header {
    padding: 2rem 0rem 2rem 0rem;
  }
  header .header-data-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .home .home-data-basket {
    width: 100%;
  }
  .services .service-data-basket .service-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    overflow: hidden;
  }
  .services .service-data-basket .service-items .service-item-card {
    position: relative;
    width: 350px;
    height: 500px;
  }
  .services .service-data-basket .section_pitch,
  .services .service-data-basket .service-label {
    max-width: 100% !important;
    text-align: start;
  }
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .feature .bi {
    width: 40%;
    border-radius: 20px;
  }
  .background-section-img {
    content: url("../resources/images/sharpMobile.png");
  }
  .projects .pdb-left {
    width: 100%;
    font-size: 15px;
  }
  .projects .project-tabbed .project-tabs .project-tab-style {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects .project-tabbed .project-tabs .project-tab-style li {
    display: inline;
    cursor: pointer;
    text-align: start;
    width: 33%;
    margin: 3px 5px 3px 3px;
    padding: 3px 10px 3px 10px;
  }
  .projects .project-tabbed .project-tabs .project-tab-style li #frontend_span {
    display: none;
  }
  .projects .project-tabbed .project-tabs .single-project-content .port-card {
    height: 350px;
  }
  .projects .project-tabbed .project-tabs .single-project-content .port-card .button_project {
    border-radius: 1.5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 5px 5px 5px;
  }
  .Blog .bdb-post-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 35px;
    margin-bottom: 20px;
  }
  .contact .contact-data-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .contact .cdb-right {
    width: 100%;
  }
  .contact .cdb-left p {
    width: 100%;
  }
  .foot-data-basket {
    padding-bottom: 50px;
    padding-top: 20px;
  }
  .foot-data-basket .foot_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot-data-basket .foot_wrapper .ft_left {
    display: none;
  }
  .foot-data-basket .foot_wrapper a {
    text-align: center;
  }
  .foot-data-basket .foot_wrapper .ft-center {
    padding-left: 3rem;
    padding-right: 0px;
  }
  .foot-data-basket .foot-signature .left_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .foot-data-basket .foot-signature .right_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}
/*# sourceMappingURL=small.css.map */