@media only screen and (max-width: 320px) {
  section {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 3rem 0rem 6rem 0rem;
  }

  .banner-section {
    min-height: 400px;
    padding: 2rem 0rem 2rem 0rem;
  }
  .bucket {
    width: 90%;
    margin: 0 auto;
    padding: 2rem auto;
  }

  .button_accent {
    a {
      font-size: 0.9rem;
    }
  }

  header {
    padding: 2rem 0rem 2rem 0rem;
  }

  .home {
    .home-data-basket {
      width: 100%;
      display: flex;
      flex-direction: column !important;
      margin-bottom: 0%;

      .hdb-right-img {
        margin-top: 5rem;
      }

      .text-tag-name {
        font-size: 2rem;
        overflow: hidden;
      }

      .text-tag-problem {
        font-size: 1.5rem;
      }

      .text-tag-pitch {
        font-size: 0.7rem;
      }

      .home_buttons {
        display: flex;
        flex-direction: row;
        font-size: 12px;
      }
    }
  }

  // Services section styling
  // Services section styling
  .services {
    padding-top: 0rem !important;
    .service-data-basket {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0rem;
      .section-appeal {
        .section-tag {
          font-size: 1.7rem;
        }
        .section_pitch {
          padding-left: 0rem;
          padding-right: 0rem;
          font-size: 12px;
        }
      }
      .service-items {
        flex-direction: column;

        .service-item-contents {
          width: 100%;
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: $background-light;
          align-items: center;
          .service-item-img {
            width: 60px;
          }
          .service-item-content {
            padding: 10px 2px 10px 2px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            text-align: center;

            .skill {
              font-size: 1.2em;
              color: $color-primary;
              font-family: $montserrat-font-family;
              font-weight: 500;
            }

            p {
              color: $color-text-primary;
              font-family: $arimo-font-family;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  // Background section styling

  .background {
    .background-data-basket {
      //naming here is different html code forged from TryDo and styled to fit our purpose
      .react-tabs {
        .tab-style {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          li {
            padding: 12px 12px 2px 2px;
            margin-right: 10px;
            font-size: 14px;
          }
        }
      }
    }

    // background section
    .background-section-img {
      content: url("../resources/images/sharpMobile.png");
    }
  }

  //projects
  // Project Styling
  .projects {
    margin-top: 0px;

    .pdb-left {
      width: 100%;
      text-align: center;

      #project-line {
        font-size: 18px;
      }
      #project-para {
        width: 100%;
        font-size: 12px;
      }
    }
    .project-tabbed {
      .project-tabs {
        .project-tab-style {
          width: 95%;
          max-width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin: none;
          li {
            display: inline;
            cursor: pointer;
            text-align: start;
            width: fit-content;
            font-size: 12px;
            margin: none;
            //padding: 3px 10px 3px 10px;

            #frontend_span {
              display: none;
            }
          }
        }
        .single-project-content {
          .port-card {
            height: 350px;

            p {
              font-size: 12px;
            }

            .button_project {
              border: 1px solid $color-accent;
              border-radius: 5px;
              display: flex;
              cursor: pointer;
              a {
                text-decoration: none;
                color: $color-accent;
                font-size: 12px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

  //about section

  // About section styling
  .about {
    .about-data-basket {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .about-header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        p {
          font-size: 12px;
          text-align: justify;
        }
      }

      .about-feature-icon {
        width: 80px;
        height: 80px;
        border-radius: 1rem;
        margin-bottom: 20px;
      }

      .feature p {
        font-size: 12px;
        text-align: justify;
      }
    }
  }

  //Testimonials section
  .Testimonials {
    .testim-data-basket {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .testim-call-to-view {
        font-size: 12px;
        width: 100%;
      }
      .section-tag {
        font-size: 20px;
        color: $color-primary;
        text-align: center;
      }

      .testim-tabs {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        .testim-tab-list {
          list-style-type: none;
          margin: 10px 10px 10px 0px;
          display: flex;
          flex-direction: row;
          transition: 0.7 ease-in-out;
          width: fit-content;
          align-self: center;
          border-radius: 1rem;
          padding: 2px 10px 2px 10px;
          background-color: $color-primary;
          margin-bottom: 20px;

          li {
            display: inline;
            cursor: pointer;
            text-align: start;
            width: 25px;
            height: 25px;
            margin: 3px 5px 3px 5px;
            color: $color-text-white;
            overflow: hidden;
          }

          .testim-tab__tab--selected {
            border: 1px solid $color-accent;
            border-radius: 50%;
            text-align: center;
            padding-bottom: 5px;
            color: $color-accent;
          }
        }
        .testim-tab-row-content {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(3, 1fr);
          gap: 20px;
          margin-top: 10px;

          .testim-testim {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: $color-accent;
            .tt-header {
              .tt-header-details-name,
              tt-header-details-affiliate {
                margin: 0;
                padding: 0;
              }
              .tt-header-details-name {
                font-weight: 400;
                color: $color-secondary;
                font-size: 16px;
              }
            }

            .tt-body {
              margin-top: 10px;
              border-bottom-left-radius: 10px;
              border-top-right-radius: 10px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .contact {
    .contact-data-basket {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 50px;

      .tag-forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .cdb-left {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          width: 100%;
          text-align: center;
          font-size: 12px;
        }
      }

      .cdb-right {
        width: 100%;

        .email-text {
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }

  .foot-data-basket {
    padding-bottom: 50px;
    padding-top: 20px;

    .copy {
      font-size: 12px;
    }

    .foot_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .ft_left {
        display: none;
      }

      a {
        text-align: center;
      }
    }

    .foot-signature {
      .left_icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
      }

      .right_icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
      }
    }
  }

  //banners
  .banner-problem {
    .banner-problem-basket {
      p {
        font-size: 12px;
      }
    }
  }

  .banner-tools {
    background-color: $banner-tools-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .banner-tools-basket {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 20px;

      h2 {
        font-size: 20px;
      }
      #tools-para {
        font-size: 12px;
      }

      .tool-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .tg-analytics {
          border: none;
          border-top: 1px solid $color-primary;
          border-bottom: 1px solid $color-primary;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }

  .banner-mentorship {
    background-color: $banner-mentorhip-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    .banner-mentorship-basket {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 20px;

      h2 {
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
