.about-image-container {
  width: 500px;
  height: 500px;
  overflow: hidden;
  img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
  }
}

.about-profile-content {
  background-color: #fff;
  min-height: 100vh;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.about-experience-content {
  min-height: 100vh;
  padding: 6rem 0px 6rem 0px;

  .experience-data-basket {
    .exp-header {
      margin-bottom: 3rem;
    }

    .exp-list {
      min-width: 100%;
      display: flex;
      flex-direction: row;
      overflow-y: hidden;
      overflow-x: scroll;
      grid-gap: 2rem 1rem;
      transition: ease-in-out 0.3s;
      margin-bottom: 3rem;
      .exp-item {
        border: 1px solid rgba(#e8eef9, 1);
        border-radius: none;
        padding: 2rem 2rem 2rem 2rem;
        min-width: 400px;

        .exp-bullets {
          padding-left: 0px;
          .exp-bullet-item {
            padding-left: 0px;
            margin-left: 0px;
          }
          .exp-bullet-item ::before {
            content: "=>";
            color: $color-primary;
          }
        }

        &:hover {
          background-color: #fff;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 0 5px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          border: 4px solid rgba(#f2f4f8, 1);
        }
      }
    }
  }
}

.about-education-content {
  min-height: 150vh;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: rgb(231, 248, 244);
  .education-data-basket {
    .educ-left {
      .educ-left-item {
        margin-bottom: 2rem;
        .eli-degree {
          padding: 0px 0px 0px 0px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

.linkedin-badges {
  min-height: 100vh;
  background-color: #f4fbf9;

  .lb-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.certifications-content {
  min-height: 100vh;
  background-color: #fafafa;
  padding-top: 6rem;
  padding-bottom: 6rem;

  .cdb-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem 3rem 0rem;
    min-width: 100%;
    gap: 30px 20px;

    .cdb-list-item {
      background-color: $color-extra;
      padding: 1rem 3rem 1rem 2rem;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 0 5px rgba(0, 0, 0, 0.1);

      .cdb-list-item-course {
        padding: 0px 0px 0px 0px;
        margin: 0px auto;
      }
      .cdb-list-item-platform {
        padding: 0px 0px 0px 0px;
        margin: 0px auto;
        font-weight: 400;
      }
      .cdb-list-item-date {
        padding: 0px 0px 0px 0px;
        margin: 0px auto;
        color: #5a7d89;
      }
    }
  }
}
